<%= link_to 'Back', users_path%>
<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name%>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email%>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
