<ul>
  <% @users.each do |user| %>
    <li><%=user.name%> <%=user.email%></li>
    <p><%= link_to 'Edit', edit_user_path(user) %>
       <%= link_to 'Delete', user_path(user),
	   method: :delete %>
    </p>
  <% end %>
</ul>

<h1> <%= link_to 'Create a new user', new_user_path %> </h1>
