<%= link_to 'Back',users_path %>
<p>
  <strong>Name:</strong>
  <%= @user.name%>
  <strong>Email:</strong>
  <%= @user.email%>

  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'Delete', user_path(@user),
	   method: :delete %>
</p>
